form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
        span {
            color: #e05d47;
            display: inline-block;
            @include font-size-value(12);
            margin-bottom: 5px;
        }

    input{
        width: 100%;
    }

    input, textarea{
        border: 2px solid $black;
         padding: 5px;
    }

    button {
        width: 50%;
        align-self: center;
    }

    input, textarea, button {
        margin: 5px 0 15px 0;
        align-self: center;
    }

    textarea {
        resize: none;
        overflow: auto;
        vertical-align: top;
        background: $white;
        width: 100%;
    }

    label:first-of-type, label:nth-of-type(2),
    span:first-of-type, span:nth-of-type(2),  input:first-of-type, input:nth-of-type(2) {
        width: 50%;
    }

    label:first-of-type, label:nth-of-type(2),
    span:first-of-type, span:nth-of-type(2), {
        margin: 0 auto;
    }

}

.contact--socials {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

        li {
            border: 2px solid $black;
            background: $black;
            padding: 15px 10px;

                a {
                    border: none;
                    padding: 10px;
                }

                i {
                    color: $white;
                    @include font-size-value(30);

                        &:hover {
                            color: $highlight;
                        }
                }
        }

}