.contactSection {
    background: url('assets/contactBackground3.jpg');
    // background-position: 25% 10%;
    background-size: cover;

    h3 {
        padding: 15px 0 0 0;
        margin-bottom: 25px;
    }
}

.contact--box {
    background: rgba(252, 251, 249, 1);
    width: 60%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 15px;
    justify-content: center;
    width: 60%;
        span {
            color: #e05d47;
            display: inline-block;
            @include font-size-value(12);
            margin-bottom: 5px;
        }

    input{
        width: 100%;
    }

    label {
        margin: 0;
        padding: 0;
        color: $black;
        text-transform: capitalize;
    }

    input, textarea{
        border: 2px solid $black;
         padding: 5px;
    }

    button {
        width: 100%;
        align-self: center;
    }

    input, textarea, button {
        margin: 5px 0 15px 0;
        align-self: center;
    }

    textarea {
        resize: none;
        overflow: auto;
        vertical-align: top;
        background: $white;
        width: 100%;
    }

}

.contact--socials {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 15px 0;
    display: flex;
    justify-content: space-between;

        li {
            // border: 2px solid $white;
            // background: $white;
            padding: 15px 10px;

                a {
                    border: none;
                    padding: 10px;
                }

                i {
                    color: $black;
                    @include font-size-value(30);

                        &:hover {
                            color: $highlight;
                        }
                }
        }

}