.educationSection {
    background: linear-gradient(to bottom, rgba($black, 0.6), rgba($black, 0.6)), url('assets/education.jpg');
    background-position: 75% 40%;
    background-size: cover;


    h3 {
        color: $white;
    }

    .educationSection--body {
        display: flex;
        justify-content: space-around;
    }
}

.education-indvEd {
    display: flex;
    align-items: center;
      > p {
          margin-right: 10px;
          @include font-size-value(25);
          font-weight: 700;
          color: $white;
      }

      p {
          color: $white;
      }
}

// media queries
@media (max-width: 950px){
    .educationSection--body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .education-indvEd {
        margin: 15px 0;
    }
}