.skillsSection {
    background: $backgroundOne;
    
    .skills--innerSection {
        display: flex;
        flex-wrap: wrap;
    }

    h4 {
        text-transform: capitalize;
        margin: 5px 0 15px;
    }

    .skills-indvContainer {
        max-width: 50%;
        padding: 60px 0;
        text-align: center;

            p {
                padding: 10px 45px;
            }
    }

    // .skills-indvContainer:first-of-type {
    //         border-right: 1px solid lighten($black, 40%);
    //         border-bottom: 1px solid lighten($black, 40%);
    //     }

    // .skills-indvContainer:nth-of-type(2){
    //     border-bottom: 1px solid lighten($black, 40%);
    // }

    // .skills-indvContainer:nth-of-type(3) {
    //     border-right: 1px solid lighten($black, 40%);
    // }

    img {
        width: 100px;
    }
}

// media queries
// @media (max-width: 980px) {
//     .skillsSection {
//         .skills-indvContainerFirst,
//         .skills-indvContainerSecond,
//         .skills-indvContainerThird {
//             border: none;
//         }
//     }
// }