// variables

    // colors
$white: #FCFBF9;
$black: #3a3838;
$highlight: #e05d47;
// #e05d45; 
$darkOverlay: rgba(51, 61, 74, 0.4);

    // font
$header-text: 'Open Sans', sans-serif;
$body-text: 'Open Sans', sans-serif;

    //transition 
    $transitionTiming: all 0.3s cubic-bezier(.25,.8,.25,1);


// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

    // fade in effect
    @mixin fade-in-effect($duration, $delay) {
        opacity: 0;
        animation: fadeIn ease-in $duration;
        animation-fill-mode: forwards;
        animation-duration: $duration;
        animation-delay: $delay;
    }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }


//button
@mixin globalButton {
    border: 1px solid $black;
    padding: 10px 20px;
    color: $black;
    background: $white;
    display: inline-block;
    letter-spacing: 1.2px;
    font-variant: small-caps;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: $transitionTiming;
    @include font-size-value(18);

        &:hover {
            // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            color: $white;
            background: $black;
        }
}


