@import 'setup';
@import 'variablesMixins';
@import 'global';
@import 'nav';
@import 'header';
@import 'aboutMe';
@import 'research';
@import 'publications';
@import 'education';
@import 'skills';
@import 'contact';